@-moz-document regexp("https?://docs\\.spring\\.io.*") {
@namespace url(http://www.w3.org/1999/xhtml);
body {
   background-color: #181818;
   color: #839496;
}

body.firstpage {
   background-image: none;
   background-color: #181818;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: #eee8d5;
}

pre {
   color: #F0F0F0;
}

:not(pre) > code {
   background-color: #212121 !important;
   border: 1px solid #3a3a3a !important;
}

:not(pre) > code.classname {
   color: #b58900;
}

:not(pre) > code.interfacename {
   color: #859900;
}

code {
	color: #cb4b16; /* orange */
}

pre.programlisting,
pre.screen,
pre.prettyprinted {
   color: #93a1a1 !important;
   background-color: #212121;
   border: 1px solid #3a3a3a !important;
}

pre.prettyprinted span,
code span.pln {
   color: #93a1a1;
}

span.hl-tag,
code span.atv {
   color: #859900; /* green */
}

span.hl-attribute {
   color: #cb4b16; /* orange */
}

span.hl-value,
code span.pun {
   color: #b58900; /* yellow */
}

span.hl-keyword,
code span.typ,
code span.atn {
   color: #6c71c4; /* purple */
}

code span.kwd,
code span.tag {
   color: #268bd2; /* blue */
}

code span.com {  
   color: #657b83; /* base00 */
}

.base01 {
	color: #586e75; /* base01 */
}

.base0 {
	color: #657b83; /* base00 */
}

.red {
   color: #dc322f; /* red */   
}

div.important p,
div.note p,
div.tip p,
div.warning p {
   color: #93a1a1;
}

a {
   color: #268bd2;
   text-decoration: none;
}

a:hover {
   color: #d33682;
   text-decoration: none;
}

td,
th {
   background-color: #141414;
   color: #93a1a1;
}

.navheader th,
.navfooter td {
   color: #93a1a1;
}

code.literal {
   background: #212121;
}

tbody {
   background-color: #212121 !important;
}

.sidebar p {
   color: #212121;
}
}
